body {
  background: linear-gradient(135deg, #121212, #1db954);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #000;
  color: #1db954;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  font-size: 1.5em;
}

button {
  background-color: #1db954;
  border: none;
  color: white;
  padding: 10px 18px;
  margin: 6px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

button:hover {
  background-color: #1ed760;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.album {
  background: #181818;
  width: 160px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.album:hover {
  background: #282828;
  transform: scale(1.05);
}

.album img {
  width: 100%;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.movie-cover {
  width: 250px;
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: 0 0 15px rgba(29, 185, 84, 0.4);
}

.song-item {
  background: #181818;
  margin: 10px;
  padding: 12px;
  border-radius: 8px;
}

.favorites {
  background: #000;
  border-radius: 10px;
  margin: 25px auto;
  width: 70%;
  padding: 20px;
}
